.navi:link,.navi:visited
{
display:block;
width:100%;
font-weight:bold;
color:#FFFFFF;
background-color:#bebebe;
text-align:center;
padding:15px 0px;
text-decoration:none;
text-transform:uppercase;
}
.navi:hover,.navi:active
{
background-color:#e6e6e6;
}
.navi_box{
    display: flex;
}
.navi_div{
    flex: 1;
}