ul
{
list-style-type:none;
margin:0;
padding:0;
overflow:hidden;
}
li
{
float:left;
white-space:nowrap;
}
.navi:link,.navi:visited
{
display:block;
width:210px;
font-weight:bold;
color:#FFFFFF;
background-color:#bebebe;
text-align:center;
padding:15px;
text-decoration:none;
text-transform:uppercase;
}
.navi:hover,.navi:active
{
background-color:#e6e6e6;
}