body {
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
    min-height: 100vh;
    background:url("../mountain.png") no-repeat;
    background-size: 100%,100%;
    background-position: bottom;
    font-family: 'Poppins', cursive;
}

/* home page */
.container {
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vmin;
    flex-flow: column wrap;
    row-gap: 5vmin;
}

.button-group{
    text-align:center;
    align-items:center;
}
a {display: inline-block}
button {
    width: 30vmin;
    height: 30vmin;
    border: none;
    font-size: 2.8vmin;
    font-family: 'Poppins', cursive;
    color: black;
    cursor: pointer;
    margin: 0 0 0 0;
}

h1{
    font-family: 'Poppins', cursive;
    text-align: center;
}

.symbol{
    height: 100px;
    vertical-align: middle;
}

.center{
    margin: auto;
    width: 80%;
}

.text_box{
    margin: 30px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.70);
}

button:hover {
    font-weight: bold;
}

.wrapper {
    position: relative;
}

.logoTitle{
    display: flex;
    align-items: center;
    column-gap: 1.8vmin;
    position: absolute;
    margin: 2vmin 0 0 2vmin;
}

.title {
    font-size: 3vmin;
    font-weight: 24;
    color: #DAD4CB;
    margin-left: 2vmin;
}

.letter {
    font-size: 4.5vmin;
    font-weight: 20;
    color: #DC9428;
}
/* end of home page */
