body {
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
    min-height: 100vh;
    background:url("../mountain.png") no-repeat;
    background-size: 100%,100%;
    background-position: bottom;

}

/* home page */
.container {
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vmin;
    flex-flow: column wrap;
    row-gap: 5vmin;
}

.button-group{
    text-align:center;
    align-items:center;
}
a {display: inline-block}
button {
    width: 30vmin;
    height: 30vmin;
    border: none;
    font-size: 2.8vmin;
    font-family: 'Poppins', cursive;
    color: black;
    cursor: pointer;
    margin: 0 0 0 0;
}

h1{
    font-family: 'Poppins', cursive;
}

button:hover {
    font-size: 3.5vmin;
}

.wrapper {
    position: relative;
}

.logoTitle{
    display: flex;
    align-items: center;
    column-gap: 1.8vmin;
    position: absolute;
    margin: 2vmin 0 0 2vmin;
}

.title {
    font-size: 3vmin;
    font-weight: 24;
    color: #DAD4CB;
    margin-left: 2vmin;
}

.letter {
    font-size: 4.5vmin;
    font-weight: 20;
    color: #DC9428;
}
/* end of home page */

/* Header */

.logoTitle-header{
    display: flex;
    align-items: center;
    column-gap: 1.6vmin;
    margin: 0.8vmin 0 0 1vmin;
}

.navbar {
    box-shadow: 0 0.8vmin 1vmin rgba(0, 0, 0, 0.2);
    color: #DAD4CB;
}

.title-header {
    font-size: 2.5vmin;
    font-weight: 22;
    color: #DAD4CB;
    margin-left: 2vmin;
}

.letter-header {
    font-size: 4vmin;
    font-weight: 18;
    color: #DC9428;
}

.navbar-nav > li{
    margin-left:1.5vmax;
    margin-right:1.5vmax;
}

.navbar-dark .navbar-nav .nav-link {
    color: #DAD4CB;
    font-size: 2.9vmin;
    font-weight: 20
}

/* Key form */
.formContainer {
    display:flex;
    justify-content:center;
    align-items:center;
    height:50vmin;
    width: 65vmin;
    background-color: #DAD4CB;
    box-shadow: 0.8vw 0.8vmin 1vmin rgba(0, 0, 0, 0.2);
    font-family: 'Poppins', cursive;
    border: none;
    border-radius: 3vmin;
    margin: 15vh auto auto auto;
    color: #3D4A55;
    font-size: 3vmin;
}

.form-control {
    box-shadow: inset 0.1vh 0.15vw 0.3vh rgba(0, 0, 0, 0.25);
    height: 5.7vmin;
    width: 35vmin;
}

.form-button {
    width: 28vmin;
    height: 7.5vmin;
    border: none;
    border-radius: 3vmin;
    font-size: 3vmin;
    font-family: 'Poppins', cursive;
    color: #FFFFFF;
    cursor: pointer;
    box-shadow: 0 0.8vmin 1vmin rgba(0, 0, 0, 0.2);
    margin: 3vmin 0 auto auto;
    background-color: #819FA6;
    text-align: center;
}

#upload {
    margin-top: 1.8vmin;
}

.message {
    display: flex;
    justify-content:center;
    align-items:center;
    margin-top: 35vh;
}

.image {
    display: flex;
    justify-content:center;
    align-items:center;
}

.key {
    margin-top: 3vmin;
    margin-left: 3vmin;
}

table {
    background-color: #DAD4CB;
    opacity: 0.9;
}

thead {
    background-color: #A0A396;
    opacity: 0.8;
    color: #3D4A55;
    font-size: 2.8vmin;
}

.table_container {
    display: flex;
    justify-content:center;
    align-items:center;
    margin-top: 10vh;
}

#config {
    font-size: 2.8vmin;
}
