<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/style.css') }}" />
</head>
    <body>
        <div>
            <h1> ECE1779 CLOUD COMPUTING PROJECT G12</h1>
        </div>
        <br />
        <br />
        <br />
        <div>
                <div class = 'button-group'>
                    <a href="{{ url_for('all_key') }}">
                        <button type="button" style="background-color: #8aadcd">All Available Keys</button>
                    </a>
                    <a href="{{ url_for('upload_figure') }}">
                        <button type="button" style="background-color: #d7eaf7">Upload Figure</button>
                    </a>
                    <a href="{{ url_for('Function3') }}">
                        <button type="button" style="background-color: #8aadcd">Function3</button>
                    </a>
                    <a href="{{ url_for('Function4') }}">
                        <button type="button" style="background-color: #d7eaf7">Function4</button>
                    </a>
                    <a href="{{ url_for('Function5') }}">
                        <button type="button" style="background-color: #8aadcd">Function5</button>
                    </a>
                </div>
        </div>

    </body>
</html>