<!-- <h1>Navigation Bar</h1>
  <div class="navibar">
    <li>
        <a href="/">
            Java
        </a>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/keys">View Image</a></li>
            <li><a href="/upload_figure">Upload Image</a></li>
            <li><a href="/home">List Key & Paths</a></li>
            <li><a href="/home">Cache Properties</a></li>
            <li><a href="/home">Cache Stats</a></li>
        </ul>
    </li>
</div>
<br> -->



<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/navibar.css') }}" />
</head>
<body>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/keys">View Image</a></li>
    <li><a href="/upload_figure">Upload Image</a></li>
    <li><a href="/">List Key & Paths</a></li>
    <li><a href="/">Cache Properties</a></li>
    <li><a href="/">Cache Stats</a></li>
</ul>
</body>
</html>