<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/navibar.css') }}" />
    </head>
    <body>
        <div class="column_box">
            <div class="navi_div"><a href="{{ url_for('home') }}" class="navi">Home</a></div>
            <div class="navi_div"><a href="{{ url_for('show_figure') }}" class="navi">View Figure</a></div>
            <div class="navi_div"><a href="{{ url_for('upload_figure') }}" class="navi">Upload Figure</a></div>
            <div class="navi_div"><a href="{{ url_for('all_key') }}" class="navi">List Keys</a></div>
        </div>
    </body>
</html>