<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/navibar.css') }}" />
    </head>
    <body>
        <div class="column_box">
            <div class="navi_div"><a href="/" class="navi">Home</a></div>
            <div class="navi_div"><a href="/show_figure" class="navi">View Figure</a></div>
            <div class="navi_div"><a href="/upload_figure" class="navi">Upload Figure</a></div>
            <div class="navi_div"><a href="/keys" class="navi">List Keys</a></div>
            <div class="navi_div"><a href="/memory" class="navi">Cache Config</a></div>
            <div class="navi_div"><a href="/" class="navi">Other</a></div>
        </div>
    </body>
</html>