<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Statistics</title>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/style.css') }}" />
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script>
            var hit_xy = {{ hit_xy|tojson }};
            var miss_xy = {{ miss_xy|tojson }};
            var size_xy = {{ size_xy|tojson }};
            var count_xy = {{ count_xy|tojson }};
            var req_xy = {{ req_xy|tojson }}
        </script>
    </head>
    <body>
        {% include "navibar.html" %}
        <div class="center">
            <div class="text_box">
                <h1>Statistics</h1>
                <div class="column_box">
                    <div class="column">
                        <h2>Cache in used (bytes)</h2>
                        <canvas id="chart_size"></canvas>
                    </div>
                    <div class="column">
                        <h2>Files in cache</h2>
                        <canvas id="chart_count"></canvas>
                    </div>
                </div>
                <div class="column_box">
                    <div class="column">
                        <h2>Hit/miss rate</h2>
                        <canvas id="chart_hit_miss"></canvas>
                    </div>
                    <div class="column">
                        <h2>Request Count</h2>
                        <canvas id="chart_req"></canvas>
                    </div>
                </div>
            </div> 
        </div>
        <script>
            new Chart("chart_size", {
                        type: "line",
                        data: {
                            datasets: [{
                                label: 'Memory size',
                                pointRadius: 3,
                                pointBackgroundColor: "rgb(0,0,255)",
                                data: size_xy[0],
                                showLine: true,
                                fill: false,
                                borderColor: 'rgb(0,0,255)'
                            }]
                        }, 
                        options: {
                            tooltips: {
                                mode: 'index',
                                intersect: false,
                            },
                            hover: {
                                mode: 'nearest',
                                intersect: true
                            },
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            }
                        }
            });
            new Chart("chart_count", {
                        type: "line",
                        data: {
                            datasets: [{
                                label: 'Figure count in cache',
                                pointRadius: 3,
                                pointBackgroundColor: "rgb(0,0,255)",
                                data: count_xy[0],
                                showLine: true,
                                fill: false,
                                borderColor: 'rgb(0,0,255)'
                            }]
                        }, 
                        options: {
                            tooltips: {
                                mode: 'index',
                                intersect: false,
                            },
                            hover: {
                                mode: 'nearest',
                                intersect: true
                            },
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            }
                        }
            });
            new Chart("chart_hit_miss", {
                        type: "line",
                        data: {
                            datasets: [{
                                label: 'Hit rate',
                                pointRadius: 3,
                                pointBackgroundColor: "rgb(0,0,255)",
                                data: hit_xy,
                                showLine: true,
                                fill: false,
                                borderColor: 'rgb(0,0,255)'
                            }, {
                                label: 'Miss rate',
                                pointRadius: 3,
                                pointBackgroundColor: "rgb(255,0,0)",
                                data: miss_xy,
                                showLine: true,
                                fill: false,
                                borderColor: 'rgb(255,0,0)'
                            }]
                        }, 
                        options: {
                            tooltips: {
                                mode: 'index',
                                intersect: false,
                            },
                            hover: {
                                mode: 'nearest',
                                intersect: true
                            },
                            scales: {
                                y: {
                                    beginAtZero: true,
                                    min: 0,
                                    max: 1
                                }
                            }
                        }
            });
            new Chart("chart_req", {
                        type: "line",
                        data: {
                            datasets: [{
                                label: 'Request count',
                                pointRadius: 3,
                                pointBackgroundColor: "rgb(0,0,255)",
                                data: req_xy,
                                showLine: true,
                                fill: false,
                                borderColor: 'rgb(0,0,255)'
                            }]
                        }, 
                        options: {
                            tooltips: {
                                mode: 'index',
                                intersect: false,
                            },
                            hover: {
                                mode: 'nearest',
                                intersect: true
                            },
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            }
                        }
            });
        </script>
    </body>
</html>