<!DOCTYPE html>
<head>
    <title>Upload Figure</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/style.css') }}" />
</head> 
<html>
    <body>
        <div class="center">
            <div class="text_box">
                <h2>Upload Figure</h2>
                <form
                    method="post"
                    enctype=multipart/form-data
                >
                    <label>Insert Key:</label>
                    <input type="text" id="key" name="key">
                    <br>
                    <label>Upload Figure:</label>
                    <input type="file" name="file" id="file" accept="image/*"/>
                    <br>
                    <input type="submit" id="submit">
                    <div>
                        {% if status == "SUCCESS" %} 
                        <h4 style="color: green">Image Successfully Added</h4>
                        {% elif status == "INVALID" %}
                        <h4 style="color: rgb(172, 16, 16)">Image Type Not Supported</h4>
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
    <body>    
</html>
