<!DOCTYPE html>
<head>
    <title>upload_figure</title>
</head> 
<html>
    <body>
        <h2>Upload Figure</h2>
        <form
            method="post"
            enctype=multipart/form-data
        >
            <label>Insert Key:</label>
            <input type="text" id="key" name="key">
            <br>
            <label>Upload Figure:</label>
            <input type="file" name="file" id="file" accept="image/*"/>
            <br>
            <input type="submit" id="submit">
            <div>
                {% if status == "SUCCESS" %} 
                <h4 style="color: green">Figure Successfully Added</h4>
                {% elif status == "INVALID" %}
                <h4 style="color: rgb(172, 16, 16)">Figure Type Not Supported</h4>
                {% elif status == "UNSUCCESS" %}
                <h4 style="color: rgb(172, 16, 16)">Figure Unsuccessfully Added</h4>
                {% endif %}
            </div>
    </form>
    <body>    
</html>
