<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Available keys</title>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/style.css') }}" />
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    </head>
    <body>
        {% include "navibar.html" %}
        <div class="center">
            <div class="text_box">
                <h1>Memcache Inspection</h1>
                <div class="column_box">
                    <div class="column">
                        <h2>All keys in memory</h2>
                        {% set active = namespace(value=0) %}
                        <p>{{n}} keys in total, {{size}} bytes used</p>
                        
                        {% for n in nodes %}
                            
                            {% if n.activate %}
                            {% set active.value = active.value + 1 %}
                            <p><b>Node {{n.id}}</b>: <span style="color:green">activated</span> ({{n.size}})</p>
                                
                                {% if n.key|length > 0 %}
                                    <ul>
                                        {% for k in n.key %}
                                        <li>{{ k }}</li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    <p>This node is empty</p>
                                {% endif %}
                            {% else %}
                                <p><b>Node {{n.id}}</b>: <span style="color:red">not activated</span></p>
                            {% endif %}
                        {% endfor %}
                        <a href = "{{ url_for('mem_key_delete') }}">Clear all Memcahce nodes</a>
                        <a href = "{{ url_for('all_key_delete') }}">Delete all keys and values in S3 and nodes</a>
                    </div>
                    <div class="column">
                        <h2>Memcache Pool Configurations</h2>
                            <p>Active nodes: {{ active.value }} / {{ nodes|length }}</p>
                            <p>Auto-scaler: Manual
                                <label class="switch">
                                    <input type="checkbox" id="switch" onclick="switch_display()">
                                    <span class="slider round"></span>
                                </label>
                            Auto </p>
                            <p id="auto_msg" style="color:green;"> </p>
                            <div id="manual">
                                <form method="post" action="{{ url_for('mem_pool_set') }}">
                                    <p><b>Change active node</b></p>
                                    <p>
                                        <input type="range" min="1" max="{{ nodes|length }}" value="{{ active.value }}" id="new_active" name="new_active">
                                        value: <span id="value"></span>
                                    </p>
                                    <p>
                                        <input type="button" onclick="halven()" value="halven active node">
                                        <input type="button" onclick="double()" value="double active node">
                                    </p>
                                    <input type="submit">
                                </form>
                                <script>
                                    var slider = document.getElementById("new_active");
                                    var output = document.getElementById("value");
                                    output.innerHTML = slider.value; // Initialization
                                    
                                    slider.oninput = function() {
                                        output.innerHTML = this.value;
                                    }

                                    function double() {
                                        slider.value = Math.min(slider.value * 2, slider.max)
                                        output.innerHTML = slider.value
                                    }

                                    function halven() {
                                        slider.value = Math.max(slider.value / 2, slider.min)
                                        output.innerHTML = slider.value
                                    }
                                </script>
                            </div>
                            <div id="auto">
                                <form method="post" action="{{ url_for('auto_params') }}">
                                    <p><b>Change auto-scaler parameters</b></p>
                                    <label for="max_miss">Max miss rate threshold: </label>
                                    <input type="number" name="max_miss" id="max_miss" value="{{auto_scaler.max_miss * 100}}"
                                        min="0" max="100" required onchange="input_boundary('max')"> %<br>
                                    <label for="min_miss">Min miss rate threshold: </label>
                                    <input type="number" name="min_miss" id="min_miss" value="{{auto_scaler.min_miss * 100}}"
                                        min="0" max="100" required onchange="input_boundary('min')"> %<br>
                                    <label for="shrink">Shrink ratio: </label>
                                    <input type="number" name="shrink" value="{{auto_scaler.shrink}}"
                                        min="0" max="1" step="0.1" value="1" required><br>
                                    <label for="expend">Expend ratio: </label>
                                    <input type="number" name="expend" value="{{auto_scaler.expand}}"
                                        min="1" max="{{ nodes|length }}" step="0.1" value="1" required><br>
                                    <input type="submit">
                                </form>
                            </div>
                        
                        <h2>Memcache Node Configurations</h2>
                        <p>Current configurations:</p>
                        <ul>
                            <li>Capacity: {{capacity}} bytes</li>
                            <li>Replacement policy: {{policy}}</li>
                        </ul>
                        <br>
                        <p>Configuration setting:</p>
                        <form method="post" action="{{ url_for('mem_config_set') }}">
                            <label for="capacity">Capacity: </label>
                            <input type="number" id="capacity" name="capacity" 
                                min="0" max="1024" required> 
                            <select id="unit" name="unit">
                                <option value="KB">KB</option>
                                <option value="MB">MB</option>
                            </select><br>
                            <label for="policy">Replacement policy: </label>
                            <select id="policy" name="policy">
                                <option value="LRU">LRU</option>
                                <option value="random">Random</option>
                            </select><br>
                            <input type="submit" id="submit">
                        </form>
                    </div>
                </div>
            </div> 
        </div>
        <script>
            False = false
            True = true
            auto = {{auto_scaler.auto}}

            if (auto == false){
                document.getElementById("switch").checked = false;
                document.getElementById("auto").style.display = "none";
                document.getElementById("manual").style.display = "block";
            } else{
                document.getElementById("switch").checked = true;
                document.getElementById("auto").style.display = "block";
                document.getElementById("manual").style.display = "none";
            }

            function switch_display(){
                auto = document.getElementById("switch").checked
                
                if (auto == false){
                    document.getElementById("auto").style.display = "none";
                    document.getElementById("manual").style.display = "block";
                } else{
                    document.getElementById("auto").style.display = "block";
                    document.getElementById("manual").style.display = "none";
                }

                const send = async () => {
                    try {
                        const resp = await axios.post('{{ url_for("auto_on_off") }}', {auto: auto}, {
                            headers: {
                              'Content-Type': 'multipart/form-data'
                            }
                        });
                        console.log(resp);
                        if (auto == true){
                            msg = "Auto-scaler set to auto mode"
                        } else{
                            msg = "Auto-scaler set to manual mode"
                        }
                        document.getElementById("auto_msg").innerHTML = msg
                    } catch (err) {
                        // Handle Error Here
                        console.error(err);
                    }
                };
                send();
            }

            function input_boundary(element){
                
                max_rate = document.getElementById("max_miss");
                min_rate = document.getElementById("min_miss");
                if (element == "min"){ // input change another's boundary
                    max_rate.min = min_rate.value
                } else{
                    min_rate.max = max_rate.value
                }
                    
            }

        </script>
    </body>
</html>